.navitems{
    position: relative;
}
.navlink::before,
.navlink::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background: #ffffff;
  transition: all 0.5s;
}

.navlink::before {
  top: 0;
  left: 0;
}

.navlink::after {
  bottom: 0;
  right: 0;
}

.navlink:hover::before {
  width: 100%;
  transition: width 0.25s ease-in-out;
}

.navlink:hover::after {
  width: 100%;
  transition: width 0.25s ease-in-out 0.25s;
}